{% load static %}

<script type="text/javascript">
	var user = '{{request.user}}'

	function getCookie(name) {
	    let cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        const cookies = document.cookie.split(';');
	        for (let i = 0; i < cookies.length; i++) {
	            const cookie = cookies[i].trim();
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	const csrftoken = getCookie('csrftoken');
</script>

<a href="{% url 'login' %}">Login</a>
<a href="{% url 'cart' %}">Cart</a>

<hr>
<hr>

<!-- Total price header -->
<div>
	<a href="{% url 'cart' %}">< Back to Cart</a>
	<br>

	Total added items: <b>{{order.total_items_in_cart}}</b><br>
	Total price: <b>{{order.grand_total}}</b><br>
</div>
<!---->
<br><br><hr>
<!-- List of all brought items -->
<div>
	<h2>Item Summary</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Total</th>
		</tr>
		{% for item in items %}
		<tr>
			<td>{{item.product.name}}</td>
			<td>{{item.product.price}}</td>
			<td>{{item.quantity}}</td>
			<td>{{item.total}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div>
	<h2>Shipping Address</h2>
	<form id = "form">
		<input class = "form-control" type="text" name="address" placeholder="Address"><br>
		<input class = "form-control" type="text" name="city" placeholder="city"><br>
		<input class = "form-control" type="text" name="state" placeholder="state"><br>
		<input class = "form-control" type="text" name="zipcode" placeholder="zipcode"><br>
	</form>
	<button id = "make-payment">Make Payment</button>
</div>
<!---->

<br><br><br>
<hr><hr>
<h1>Footer</h1>


<script type="text/javascript">
	var total = '{{order.grand_total}}';
	var form = document.getElementById('form');
	var butt = document.getElementById('make-payment').addEventListener('click', function(e){
		submitformdata()
	})
	
	function submitformdata(){

		var userFormData = {
			'total':total,
		}

		var shippinginfo = {
			'address':null,
			'city':null,
			'state':null,
			'zipcode':null,
		}

		shippinginfo.address = form.address.value
		shippinginfo.city = form.city.value
		shippinginfo.state = form.state.value
		shippinginfo.zipcode = form.zipcode.value

		var url = '/proceedToPayment/'
		fetch (url, {
			method : 'POST',
			headers: {
				'Content-Type':'application/json',
				'X-CSRFToken': csrftoken,
			},
			body:JSON.stringify({
				'form':userFormData,
				'shipping':shippinginfo
			})
		})
		.then((response) => response.json())
		.then((data) => {
			console.log(shippinginfo);
			alert('transaction completed');
			window.location.href = "{% url 'home' %}";
		})
	}

</script>