
{% load static %}
<script type="text/javascript">
	var user = '{{request.user}}'

	function getCookie(name) {
	    let cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        const cookies = document.cookie.split(';');
	        for (let i = 0; i < cookies.length; i++) {
	            const cookie = cookies[i].trim();
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	const csrftoken = getCookie('csrftoken');
</script>

<a href="{% url 'login' %}">Login</a>
<a href="{% url 'cart' %}">Cart</a>

<hr>
<hr>

<h2>Products</h2>


{% for product in products %}
	<div class='item'>
		<img src="{{product.imageURL}}">
		<p>{{product.name}}</p>
		<p>{{product.description}}</p>
		<p>{{product.price}}</p>
		<button class = "add_cart", data-product = {{product.id}} data-action = "add">Add to cart</button>
		<button>View</button>
		<br><br><hr>
	</div>
{% endfor %}
<hr>

<h1>Footer</h1>


<script type="text/javascript", src="{% static 'js/cart.js' %}"></script>
